# Env files (any dir: frontend/, backend/, root)
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

# backend files
backend/tmp/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
