/* LOGIN */
.loginPage {
  position: relative;
  min-height: 760px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.loginPage::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/mabini campus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.8;
  z-index: 0;
}


.loginBox {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 400px;
  padding: 40px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
}

.loginInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.loginInput label {
  width: 90px;
  text-align: right;
  margin-right: 10px;
}

.loginInput input {
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
}

.loginButton {
  color: white;
  background-color: red;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.registerLink {
  color: blue;
  text-decoration: none;
  margin-left: 5px;
}

.registerLink:hover {
  text-decoration: underline;
}













/*  REGISTER */
.RegisterPage {
  position: relative;
  min-height: 760px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.RegisterBox {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 400px;
  padding: 40px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
}

.RegisterPage::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/mabini campus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.8;
  z-index: 0;
}



.RegisterInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.RegisterInput label {
  width: 90px;
  text-align: right;
  margin-right: 10px;
}

.RegisterInput input {
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
}

.RegisterButton {
  color: white;
  background-color: red;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}